body { font-family: Arial; background: #eef2f3; }
.navbar { background: #007bff; padding: 15px; color: white; }
.navbar a { color: white; margin: 10px; text-decoration: none; }
.home { text-align: center; padding: 100px; }
.box { width: 300px; margin: 80px auto; background: white; padding: 20px; border-radius: 10px; }
input, select { width: 100%; padding: 8px; margin: 10px 0; }
button, .btn { background: #007bff; color: white; padding: 10px; border: none; width: 100%; text-decoration: none; display: block; text-align: center; }